body{
    background-color: #ffffff;
}
#DivOne
{
   background-color: #19606b; 
   max-width: fit-content;
   padding: 5%;
   margin-left: 40%;
   margin-top: 10%;
   border-radius: 5px;
}
h5{
    color: cornsilk;
}
.btn-custom
{
    margin-left: 25%;
}
#DivTwo
{
    margin-left: 90%;
    margin-top: 2px;;
}